@model TechReviewSite.Models.Review


@*This is the DETAILS Page for the REVIEWS Model - MUST be styled for this project*@

@{
    ViewBag.Title = "Details";
}

<h2>Full Review</h2>
    
    <hr />
    <div class="row">
       
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                <div class="thumbnail">
                   
                    <div class="caption">
                        <h2>@Html.DisplayFor(model => model.Title)</h2>
                        <h3>by @Html.DisplayFor(model => model.Reviewer)</h3>
                        
                        @*the ItemName isn't showing up on this page. I don't know why
                            Does there need to be a using statement? Does it have to do with inheritance?
                            AHA! I think it has to do with the controller, but I'm not sure how to fix it.*@
                        <p>Item: @Html.DisplayFor(model => model.Category.ItemName)</p>
                        <p>Review: @Html.DisplayFor(model => model.Content)</p>
                        <p>Review year: @Html.DisplayFor(model => model.PublishDate)</p>
                       <p>Rating: @Html.DisplayFor(model => model.NumStars) out of 5</p>
                        <p>
                            @Html.ActionLink("Edit Review", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List of Reviews", "Index")
                        </p>
                    </div>
                </div>
            </div>
        
    </div>

    @* comment out the original table
        <div>
        <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reviewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reviewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumStars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumStars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

    </dl>
</div>*@

