@model IEnumerable<TechReviewSite.Models.Review>

@*This is the INDEX Page for the REVIEWS Model - 
    This page gives a list of all the current reviews
    it MUST be styled for this project*@

@{
    ViewBag.Title = "REVIEWS";
}

<h2>Reviews of Future Technology</h2>

<p>
    @Html.ActionLink("Write a New Review", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                @*<img src="..." alt="..."> If I can find a way to input images - stretch task*@
                <div class="caption">
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    <h3>by @Html.DisplayFor(modelItem => item.Reviewer)</h3>
                    <p>item: @Html.DisplayFor(modelItem => item.Category.ItemName)</p>

                    <p>
                        @Html.ActionLink("Full Review", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                    </p>
                </div>
            </div>
        </div>
    }
</div>




@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumStars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>         
            @Html.DisplayFor(modelItem => item.NumStars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
